#header{
	
	background-color: blue;	
	color: white;
	text-align: center;
    border-radius:30px;
    padding:10px;
    margin:5px;
    
}

#navbar{

	background-color:blue;
	text-align: center;

    
}

#main{

	text-align: center;
    background-color:#262626;
    border-radius:30px;
	width:80%;
	margin:auto;
    padding:5px;

}

#home{

	margin-right:20%;
	margin-left:20%;
}

body{

	background-color: #262626;
	background-image:url('background.png');
	background-attachment:fixed;
	color: white;
}

a {

	color: #66ccff;
    	outline:none;
}

a.nav {

	color:#6cf;

}

a:hover {

	color:white;

}
.nava td{
 
    border-radius:20px;
    -moz-border-radius:20px;
    border:10px solid #262626;
    border-collapse:separate;
}
.button {
  background-color: #909090; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:20px;
  padding: 5px 0px;
}

.button:hover {

    background-color: #555;

}

