#header{
	
	background-color: darkblue;	
	color: white;
	text-align: left;
    border-radius:30px;
    padding:10px;
    margin:5px;
    
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked~.remove-check{
	display:block;
}

input[type=checkbox]:checked~#navbar {
  display:none;
}

#navbar{

	background-color:darkblue;
	text-align: center;
	width: 20%;
	float: left;
	display:block;
	border-radius:0px 0px 30px 30px;
    
}

#main{

	text-align: center;
    background-color:#262626;
    border-radius:30px;
	width:80%;
	margin:auto;
    padding:5px;

}

#home{

	margin-right:20%;
	margin-left:20%;
}



body{

	background-color: #262626;
	background-image:url('backgroundNew.jpg');
	background-attachment:fixed;
	color: white;
}

a {

	color: #66ccff;
    	outline:none;
}

a.nav {

	/*color:#6cf;*/
	color:darkblue;

}

a:hover {

	color:white;

}
.nav td{
 
    border-radius:20px;
    -moz-border-radius:20px;
    border:10px solid #262626;
    border-collapse:separate;
	width: 20%;
	float: left;
}
.button {
  background-color: #909090; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:20px;
  padding: 5px 0px;
}

.button:hover {

    background-color: #555;

}

